
body {                                             
    display: flex;                                                                            
    align-items: center;               /*  垂直置中 */                                     
    justify-content: center;           /*  水平置中 */                                     
    background-image: url("./image/test4.jpg");         /*  背景圖  */                                     
    background-repeat:repeat;
    background-attachment:fixed;
    background-position:center;
}


.grid {                               
    width: 300px;                  
    height: 615px;                 
    background-color: rgb(7, 66, 105);
    display: flex;                 /* Flex 容器 */
    flex-wrap: wrap;               /* 多行 */   
}

/* 方塊大小 */
.grid div {
  height: 30px;
  width: 30px;
} 


#container {
    margin-top: 10vh;
    border: rgb(3, 45, 70) 7px solid;   
    display: flex;
    border-radius: 15px;                  
}


.tetromino {
    border: solid 3px;
    border-color: white gray gray white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 下一個出現的方塊 */
.mini-grid {
    margin: 0px 50px 10px 50px;                                         
    width: 120px;                       
    height: 120px;                      
    display: flex;                      
    flex-wrap: wrap;                                   
    background-color: rgb(211, 212, 197);              
    border: rgba(59, 49, 49, 0.466) 5px ridge;                
}

/* 下一個出現的方塊長寬 */
.mini-grid div {
    height: 30px;
    width: 30px;
  }

/*  右測資訊欄  */
.info {                                         
    border-left: rgb(3, 45, 70) 5px solid;
    display: flex;                             
    flex-direction: column;                     /* 主軸垂直 */        
    align-items: center;                           
    background-color: rgb(132, 181, 209);                              
}

/* NEXT */
h2 {
    border: rgba(4, 37, 37, 0.692) 4px ridge;
    padding: 10px 25px 10px 25px;              
}

/*  Score分數 */ 
h3 {                                        
    border: rgb(0, 38, 110) 4px groove;                              
    padding: 10px 15px 10px 15px;                                
    border-radius: 80px;                      /        
}

/* Start / Pause 按鈕 */ 
#start-button {                             
    position: relative;                      /* 相對位置 */        
    background-color: rgb(235, 121, 27);                                  
    border: 5px outset rgb(223, 69, 8) ;   
    font-size: 16px;                             
    color: rgb(0, 0, 0);                   
    padding: 10px;                            
    width: 130px;                            
    text-align: center;                       
    transition-duration: 0.4s;               /* 0.4s後有漸變效果 */                
    /*text-decoration: none;                    不要使用下劃線 */            
    overflow: hidden;                        /* 隱藏超出的文字或圖片 */        
    cursor: pointer;                         /* 按鈕上變成手指 */        
    margin-top: 15px;                        
}

/* 為start-button 添加一個偽元素 */
#start-button:after {
    content: "";                            /* 創建一個空的內容。使 :after 偽元素被視為一個實際元素 */  
    background: rgb(209, 18, 4);                        
    display: block;                         
    position: absolute;                     /* 絕對位置 */     
    padding-top: 300%;                       
    padding-left: 350%;                     
    margin-left: -20px !important;                       
    margin-top: -120%;                       
    opacity: 0;                             /* 透明度0 ，偽元素一開始不可見 */
    transition: all 0.9s;                   /* 動畫時間 0.9秒 */      
}

/* 為start-button 添加一個 偽元素 及 active 狀態 */
#start-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;                   
    transition: 0s;                
}


.KeyBoard0 {
  display: flex;                  
  align-items: center;              
  justify-content: space-around;  
  margin: 20px 0 20px 0;            
}

.KeyBoard_01 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.KeyBoard_02 {
    display: flex;
    justify-content: center;
    margin: 5px 0px 5px 0px;
}


.KeyBoard_03 {
    display: flex;
    justify-content: center;
}


.KeyBoard_03 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}


.KeyBoard_03 p {
    margin-top: 5px;
}


.intro button {
  height: 35px;
  width: 35px;
}

.KeyBoard0 button {
    width: 70px;
}

/* 響應式小視窗的控制區*/
.controller {
  background-color: rgba(94, 145, 233, 0.787);    
  display: flex;
  justify-content: center;                  
  padding: 10px 10px 10px 10px;
}

/* 結束提示 */
.game-over-container {              
  position: absolute;              /* 絕對位置 */
  top: 45%;
  left: 50%;  
  transform: translate(-50%, -50%); /* 容器居中 */
  background-color: white;
  padding: 15px 20px 20px 20px;
  border: 2px solid black;
  text-align: center;
  z-index: 10;
}

/* 遊戲結束按鈕的樣式 */
.restart-button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 1em;
}


#difficulty-container {
  position: absolute; 
  top: 45%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: #dbd8d8; 
  border: 3px solid rgb(3, 45, 70); 
  text-align: center;
  padding: 20px;
}

.difficulty-title {
  font-size: 3em;
  margin-bottom: 10px; 
}

#easy-mode, #hard-mode {
  margin: 5px;
  padding: 10px 20px; 
  font-size: 1em; 
  cursor: pointer; 
}

.tetromino-ugly {
  opacity: 0;
  border: 0;
}

/* 響應式設計 */
@media (max-width: 768px) {
  .info {
    display: none;               
  }

  .intro {
    justify-content: center;           
  }

  #container {
    flex-direction: column;    /*改為直列方向 */           
  }
}

@media screen and (min-width: 768px) {
.controller {
  display: none;
}
}